<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2010-10-13-ssis-excel-connection-manager-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>485538574.276357</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2012-03-30-sql-server-source-control.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54599702</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-05-20-convertstringsidtosid-error-from-the-volume-shadow-copy-service.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546004</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-05-23-failed-to-communicate-with-debug-host-process-using-bids.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546004</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-06-07-how-to-upgrade-windows-server-2008-from-standard-edition-to-datacenter-edition.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546004</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-06-13-ssis-multi-environment-configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600298</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-01-13-designer-stops-working-in-bids.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600298</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-01-13-transaction-response-timeout-from-service-manager.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600298</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-17-ssis-class-not-registered-error-using-excel-connection-manager.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600197</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-15-error-running-sql-2012-bpa.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600197</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-18-how-to-add-drivers-to-a-windows-deployment-image-troubleshooting.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600197</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-09-installing-an-ipfire-based-firewall.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600197</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-09-02-create-a-debian-bootable-install-disk.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600102</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-09-03-fedora-fails-to-boot-after-install.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600102</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-10-powershell-tips-for-remote-maintenance.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600102</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-21-disable-google-chrome-updates.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600102</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-21-monitoring-rabbitmq-hosted-on-microsoft-windows.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-08-dell-degraded-backplane-error-after-disk-replace.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-18-dell-openmanage-firmware-notice.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-30-sql-server-2012-restore-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.546</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-24-ipfire-serial-console-plug.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54599899</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-09-setup-an-archlinux-system.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54599899</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-05-installing-owncloud-on-archlinux.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54599899</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-08-regain-access-sql-server-when-locked-out.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54599798</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-08-20-mysql-backups-with-automysqlbackup.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54599798</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-25-pixel-art-with-processing.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600501</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-15-fixing-windows-update-error-80072F8F.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600501</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-03-what-is-a-database.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600501</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-16-when-hardware-fails.md</key>
			<dict>
				<key>lastModification</key>
				<real>485538565.72579002</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2016-03-17-generating-test-data-for-rails-projects.md</key>
			<dict>
				<key>lastModification</key>
				<real>485536546.54600602</real>
				<key>version</key>
				<dict>
					<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>485536346.28793597</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-03-16-when-hardware-fails.md</string>
		</array>
		<array>
			<string>2010-10-13-ssis-excel-connection-manager-error.md</string>
		</array>
		<array>
			<string>2012-03-30-sql-server-source-control.md</string>
		</array>
		<array>
			<string>2015-08-20-mysql-backups-with-automysqlbackup.md</string>
		</array>
		<array>
			<string>2015-07-08-regain-access-sql-server-when-locked-out.md</string>
		</array>
		<array>
			<string>2015-07-05-installing-owncloud-on-archlinux.md</string>
		</array>
		<array>
			<string>2015-06-09-setup-an-archlinux-system.md</string>
		</array>
		<array>
			<string>2015-04-24-ipfire-serial-console-plug.md</string>
		</array>
		<array>
			<string>2015-03-30-sql-server-2012-restore-error.md</string>
		</array>
		<array>
			<string>2014-12-18-dell-openmanage-firmware-notice.md</string>
		</array>
		<array>
			<string>2014-12-08-dell-degraded-backplane-error-after-disk-replace.md</string>
		</array>
		<array>
			<string>2014-10-21-monitoring-rabbitmq-hosted-on-microsoft-windows.md</string>
		</array>
		<array>
			<string>2014-10-21-disable-google-chrome-updates.md</string>
		</array>
		<array>
			<string>2014-10-10-powershell-tips-for-remote-maintenance.md</string>
		</array>
		<array>
			<string>2014-09-03-fedora-fails-to-boot-after-install.md</string>
		</array>
		<array>
			<string>2014-09-02-create-a-debian-bootable-install-disk.md</string>
		</array>
		<array>
			<string>2014-08-09-installing-an-ipfire-based-firewall.md</string>
		</array>
		<array>
			<string>2014-06-18-how-to-add-drivers-to-a-windows-deployment-image-troubleshooting.md</string>
		</array>
		<array>
			<string>2014-06-15-error-running-sql-2012-bpa.md</string>
		</array>
		<array>
			<string>2014-04-17-ssis-class-not-registered-error-using-excel-connection-manager.md</string>
		</array>
		<array>
			<string>2014-01-13-transaction-response-timeout-from-service-manager.md</string>
		</array>
		<array>
			<string>2014-01-13-designer-stops-working-in-bids.md</string>
		</array>
		<array>
			<string>2013-06-13-ssis-multi-environment-configuration.md</string>
		</array>
		<array>
			<string>2013-06-07-how-to-upgrade-windows-server-2008-from-standard-edition-to-datacenter-edition.md</string>
		</array>
		<array>
			<string>2013-05-23-failed-to-communicate-with-debug-host-process-using-bids.md</string>
		</array>
		<array>
			<string>2013-05-20-convertstringsidtosid-error-from-the-volume-shadow-copy-service.md</string>
		</array>
		<array>
			<string>2015-10-25-pixel-art-with-processing.md</string>
		</array>
		<array>
			<string>2016-03-03-what-is-a-database.md</string>
		</array>
		<array>
			<string>2015-11-15-fixing-windows-update-error-80072F8F.md</string>
		</array>
		<array>
			<string>2016-03-17-generating-test-data-for-rails-projects.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
			<integer>16</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6d49c55c99d3c9c7f30cf4165195907cb397b27fbe468934505be4490ab4f37a</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
